$primary-font-color: #000;
$secondary-font-color: #667085;

$black: #000000;

$white: #ffffff;

$gray: #f3efeb;

$gray-dark: #231f20;

$gray-title: #2d2d2d;

$red: #8b0e04;

$dark-bg: #2f2f2f;

$yellow: #fffebb;